.home {
    position: relative;
    width: 100vw;
    max-width: 100%;

    & .head {
        max-height: 100%;
        height: 60vh;
        max-width: 100%;
        width: 100vw;
        background-color: #212121;

        & p {
            line-height: 60vh;
            text-align: center;
            color: #fff;
        }

        position: relative;

        &::after {
            content: "";
            background-image: url(https://source.unsplash.com/tg1Z_ljKwKk/1600x900);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
            background-size: auto 100vw;
            opacity: 0.4;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
        }
    }
}